.video-container {
    position: relative;
    width: 80%;
    overflow: hidden;
  }
  
  .custom-controls {
    position: absolute;
    z-index: 1;
    bottom: 10px;
    width: 100%;
    height: 10%;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .play-pause,
  .quality-menu {
    padding: 10px;
    cursor: pointer;
  }
  
  .progress-bar-container {
    flex-grow: 1;
    height: 100%;
    display: flex;
    align-items: center;
  }
  
  .progress-bar {
    height: 4%;
    background-color: white;
  }
  
  /* Style for the select element */
  .quality-menu select {
    font-size: 14px;
    border: none;
    background-color: transparent;
    color: white;
    cursor: pointer;
  }
  
  /* Remove the default arrow in Firefox */
  .quality-menu select::-ms-expand {
    display: none;
  }
  
  /* Style the dropdown arrow */
  .quality-menu select:after {
    content: '\25BC'; /* Unicode character for down arrow */
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
  }
  
  .quality-options {
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.8);
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    p {
      margin: 5px;
      cursor: pointer;
    }
  }
  